{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}  <!-- Burada widget_tweaks'i yüklüyoruz -->
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5 p-4 bg-light rounded shadow">
            <h3 class="text-center">{% trans "Sign In" %}</h3>

            <p class="text-center text-muted">
                {% blocktrans %}
                Welcome back to the UkMove blog! To leave a comment on a post, please log in. If you have not created an account yet, then 
                <a class="link-primary" href="{{ signup_url }}">sign up</a> first.
                {% endblocktrans %}
            </p>

            <form class="login mt-4" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_username" class="form-label">{% trans "Username" %}</label>
                    <input type="text" name="username" id="id_username" class="form-control" required>
                    <!-- add_class filtresi ile form-control sınıfı ekleniyor -->
                    
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">{% trans "Password" %}</label>
                    <!-- add_class filtresi ile form-control sınıfı ekleniyor -->
                    {{ form.password|add_class:"form-control" }}
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                
                <button class="btn btn-primary w-100 mt-3" type="submit">{% trans "Sign In" %}</button>
            </form>

            <div class="text-center mt-3">
                <p><a class="link-primary" href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a></p>

        </div>
    </div>
</div>
{% endblock %}
