.ukmove-logo {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #00247D; 
}

.logo {
    max-width: 75px; 
    height: auto;     
    border-radius: 50%;  
}

.contact-form-container {
    background-color: rgba(0, 36, 125, 0.6);
    color: white;
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    margin-bottom: 20px;
}

.contact-form-container img {
    max-height: 600px;
    margin-top: 50px; 
    margin-bottom: 20px; 
    margin-left: auto;  
    margin-right: auto; 
    display: block; 
}


.contact-form-container h1, 
.contact-form-container h2 {
    margin-top: 20px;
    padding-left: 20px;
}

.text-uppercase {
    color: #00247D;
    text-align: center;
    margin-top: 60px; 
}

.contact-form {
    margin: 0 auto;    
    max-width: 600px;   
    padding: 20px;      
}
.form-label {
    color: #00247D;
    font-size: 20px;
}

.post-link {
    text-decoration: none;
    color: #FFFFFF;
}

.post-link:hover,
.page-link {
    color: #cf142b;
}

.left-70 {
    left: 70%; 
}


.custom-box {
    width: 30%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 20px; 
}

.custom-box h1 {
    margin-bottom: 90px;
    font-size: 2.5rem;
}

.custom-box p {
    margin-bottom: 60px;
    font-size: 1.4rem;
}

.text {
    color: white;
}


.custom-bg {
    background-color: #00247D !important; 
}













.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: orange;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #00247D;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 3%;
    min-width: 30%;
    left: -2px;
    background-color: rgba(0, 36, 125, 0.6);
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}



.profile-image img{
    width: 100%;
  }



.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}


.btn-delete {
    color: #fff;
    background: #cf142b;
}


.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}
.navbar-light .navbar-nav .nav-link{
    color:rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show.nav-link{
    color:rgb(255 98 98);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:rgb(255, 160, 160);
}

.navbar{
    background: #00247D ; 
    padding: 10px; 
    border-radius: 0; 
}
.nav-item{
    color:#FFFFFF;
}